@model IEnumerable<AddressBook.Models.PhoneNumber>

@{
    ViewBag.Title = "User phone numbers";
    int.TryParse(ViewBag.UserId.ToString(), out int userId);
    var areaName = HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"].ToString();
}

<h2>@ViewBag.User's phone numbers</h2>
<p>
    @Html.ActionLink("Add new number", "AddNumber", new { id = userId }) | @Html.ActionLink("Delete all numbers", "DeleteAllNumbers", new { id = userId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            @if (item.IsActive)
            {
                <td>Active</td>
            }
            else
            {
                <td>Inactive</td>
            }
            <td>
                @Html.ActionLink("Edit", "EditNumber", new { id = item.Id, area = areaName }) |
                @Html.ActionLink("Delete", "DeleteNumber", new { id = item.Id, area = areaName })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to users list", "Index", new { id = userId, area = areaName })
</div>