@model IEnumerable<AddressBook.Models.PhoneNumber>

@{
    ViewBag.Title = "User phone numbers";
    var user = GlobalVariables.CurrentUser;
}

<h2>@user.FirstName @user.LastName's phone numbers</h2>

<p>
    @Html.ActionLink("Add new number", "AddNumber", new { id = GlobalVariables.CurrentUser.Id }) | @Html.ActionLink("Delete all numbers", "DeleteAllNumbers", new { id = GlobalVariables.CurrentUser.Id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            @if (item.IsActive)
            {
                <td>Active</td>
            }
            else
            {
                <td>Inactive</td>
            }
            <td>
                @Html.ActionLink("Edit", "EditNumber", new { id = item.Id, area = GlobalVariables.AreaName }) |
                @Html.ActionLink("Delete", "DeleteNumber", new { id = item.Id, area = GlobalVariables.AreaName })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to users list", "Index", new { id = GlobalVariables.CurrentUser.Id, area = GlobalVariables.AreaName })
</div>